@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  --color-primary-50: oklch(97% 0.02 250);
  --color-primary-100: oklch(93% 0.05 250);
  --color-primary-200: oklch(86% 0.09 250);
  --color-primary-300: oklch(77% 0.13 250);
  --color-primary-400: oklch(66% 0.17 250);
  --color-primary-500: oklch(55% 0.20 250);
  --color-primary-600: oklch(46% 0.19 250);
  --color-primary-700: oklch(38% 0.17 250);
  --color-primary-800: oklch(30% 0.13 250);
  --color-primary-900: oklch(23% 0.09 250);
  --color-primary-950: oklch(16% 0.06 250);
}
